@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease;
}
body{
  overflow: hidden;
  height: 15vh;
  width: 100%;
  display: flex;
  background-color: rgb(14, 34, 64);
  color: rgb(136, 146, 176);
  background-size: 400% 400% ;
  animation: gradient 3s linear infinite;
  animation-direction: alternate;
}
::selection{
  color: rgb(255, 255, 255);
}
body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
body::before{
  clip-path: circle(30% at left 20%);
  opacity: 0.5;
  background-image: linear-gradient( 135deg,  #22eabf 10%, #2f7a6c 100%);
}
body::after{
  clip-path: circle(25% at right 80%);
  opacity: 0.5;
  background-image: linear-gradient( 135deg,  #22eabf 10%, #2f7a6c 100%);
}

header{
  top: 40px;
  height: 85vh;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
  overflow: hidden;
}


header .over{
  top: -30px;
  height: 13vh;
  width: 100%;
  background: rgba(225, 225, 225, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solidrgba(0, 255, 200, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 12;
  margin: auto;
  position: relative;

}
header .navbar{
  top: -10px;
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .menu{
  display: flex;
  flex-wrap: wrap;
}
 
.navbar .logo a{

  background-color: rgb(14, 34, 64);
  color: rgb(136, 146, 176);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  top: 22px;
  text-decoration: none;
  font-size: 23px;
 
  font-weight: 500;
}
.navbar .menu li{
  color: rgb(86, 230, 195);
  margin: 0 40px;
}
.navbar .menu a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: monospace;
  font-size: 17px;
  font-weight: 2000;
  transition: all 0.3s ease;
}
.navbar .menu a:hover{
  color: #0fd0a6;
}

 header .text-content{
   width: 40%;
   margin: -230px 0 0 50px ;
 }
.text-content h2{
  position: relative;
  top:-380px;
  font-size: 27px;
  font-weight: 600;
}

@media (max-width:850px) {
  header .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
  }
  .navbar .menu {
    margin: 10px 0 20px 0;
  }
  header .text-content{
    margin: 30px 0 0 20px ;
    width: 70%;
  }
  header .text-content h2{

    font-size: 20px;
  
  }
}
@media (max-width:410px) {
  header{
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
  header .navbar{
    padding: 15px 10px;
}
}

#grid { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  }
#grid > div {
  font-size: 5vw;
  padding: .5em;
  text-align: center;
}
.container {

  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(20px);

  max-width:18vw;
	width: 100%;
	height:60vh;
	padding: 30px;

  border-radius: 50px;
	display: grid;
	place-items: center;
	position: relative;
	z-index: 10;
}

  h1{
  font-size: 0.5rem;
	font-family: var(--font);
	padding: 0.5rem;
	color: var(--font-color);
}

p {
	font-size: 0.5rem;
}

sectionl .bar{
  text-align: center;
  text-align: justify;
  height: 18vh;
  width: 100%;
  top: -150px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 255, 200, 0.7);
  border-left: 1px solid rgba(0, 255, 200, 0.7);
  backdrop-filter: blur(5px);
   border: 2px solid rgba(0, 255, 200, 0.7);
  z-index: 50;
  margin: auto;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.container .card .img{
  height: 30mm;
  width:30mm;
}
.scroll{
  top: -30px;
  height:84vh;
  width: 100%;
  z-index: 12;
  margin: auto;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-margin-block-end: 60vh;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.card  img{
  height: 30mm;
width:30mm;
}
.bar p{
  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
  background-color: rgb(14, 34, 64);
  color: rgb(136, 146, 176);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
}
.card h1{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 650;
  font-size: small;
  

}

.card p{
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 650;
}

.card:hover img{
    translate: translate3d(+50%,+50%,100vh);
     rotate
     (-15deg);
}